/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* for mobile  */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  /* deafult css  */
  main,
  header,
  footer {
    width: 90%;
    margin: 0 auto;
  }
  section {
    margin-top: 100px;
  }

  .header-area-start {
    margin: 30px auto;
  }
  .header-area-start .flex-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
  }
  .header-area-start .humbuger {
    display: flex;
    font-size: 40px;
  }
  .header-area-start .logo {
    display: flex;
    justify-content: center;
  }
  .header-area-start .logo a {
    font-size: 30px;
  }
  .top-menu .menu {
    display: none;
  }
  .top-menu .menu-icon {
    font-size: 40px;
  }
  .top-menu .menu-icon .search-icon {
    display: none;
  }
  /* header section end  */

  /* hero section start  */
  .hero-section .flex-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-section .flex-row .left {
    order: 2;
    width: 100%;
  }
  .hero-section .flex-row .right {
    order: 1;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .hero-section .right::before {
    transform: translate(-50%, -50%);
    left: 54%;
    top: 50%;
  }
  .hero-section .left {
    text-align: center;
  }
  /* brand section start  */

  .brand-section-start .brand-icon {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
    border: none;
  }
  .brand-section-start .brand-icon img {
    margin: 9px 16px;
  }

  /* product section start  */
  .product-section-start .all-product {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-section-start .single-product {
    border: 1px solid var(--border);
    width: 471px;
  }

  .single-product .product-thubmnails {
    width: 437px;
    height: 343px;
  }
  .single-product .product-thubmnails img {
    width: 100%;
    height: 100%;
  }
  a.product-see-more {
    padding: 40px 0;
  }

  /* feature section start  */
  .feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature-section .left {
    width: 100%;
    margin-bottom: 100px;
  }
  .feature-section .right {
    width: 100%;
  }

  /* footer section start  */
  .footer-section {
    padding: 25px 0;
    width: 100%;
  }
}
